.auth {
  &-container {
    margin: 88px auto 0;
    width: 100%;
    max-width: 688px;
  }
  &-wrapper {
    padding: 64px 48px;
    background-color: #1b1c22;
    box-sizing: border-box;
    box-shadow: 0 12px 40px rgba(0, 0, 0, 0.05);
    border-radius: 32px;
  }
  &-title {
    font-family: Inter, sans-serif;
    font-weight: bold;
    font-size: 32px;
    line-height: 40px;
    color: #fff;
    margin-bottom: 16px;
  }
  &-description {
    font-family: Inter, sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #828282;
    margin-bottom: 24px;
  }
  &-wrapper__input {
    margin-bottom: 32px;
    flex-grow: 1;

    .MuiOutlinedInput-root {
      background-color: #1b1c22 !important;
      color: #fff;
    }
  }
  &-title__input {
    font-family: Inter, sans-serif;
    font-size: 18px;
    line-height: 24px;
    color: #f2f2f2;
    margin-bottom: 12px;

    span {
      color: #828282
    }
  }
  &-additionally {
    margin-top: 32px;
    &__text {
      font-family: Inter, sans-serif;
      font-size: 16px;
      line-height: 24px;
      color: #fff;
    }
  }
  &-link {
    font-family: Inter, sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #6d4eea;
    cursor: pointer;
  }
}
