@import "auth.scss";
@import "main_page_slider";
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

html,
body {
  scroll-behavior: smooth;
  background-color: #0f0f10;
  overflow-x: hidden;
  color: #f2f2f2;
}

a,
button {
  color: inherit;
  text-decoration: none;
  background: transparent;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  box-sizing: border-box;
  //word-break: break-all;
  font-family: "Inter", sans-serif !important;
}

button {
  cursor: pointer;
}

.MuiCheckbox-root {
  color: #6d4eea;
}

.MuiCheckbox-root.Mui-checked {
  color: #6d4eea;
}

textarea {
  resize: none;
}

ul,
li {
  list-style: none;
}

.MuiPaper-root {
  background: #333;
  .MuiPopover-paper {
    background: unset;
    color: #fff;
  }
}

.MuiAutocomplete-option {
  color: #fff;
}
.MuiAutocomplete-noOptions {
  color: #fff;
}

.MuiSvgIcon-root {
  color: #fff;
}

.MuiButtonBase-root {
  text-transform: inherit !important;
}

.MuiOutlinedInput-root {
  border-radius: 16px !important;
  grid-gap: 14px;
  color: #fff;
  height: 64px;
  box-sizing: border-box;

  &:hover fieldset {
    border-color: #333 !important;
  }
}
.MuiOutlinedInput-root {
  padding: 20px !important;
}
.MuiOutlinedInput-input {
  padding: 0 !important;
}

.MuiTabs-indicator {
  width: 4px;
}

.MuiSelect-icon {
  color: #828282;
}

.MuiOutlinedInput-notchedOutline {
  border: 1.5px solid #333333;
}
