@import "auth.scss";
@import "main_page_slider";
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

html,
body {
  scroll-behavior: smooth;
  background-color: #0f0f10;
  overflow-x: hidden;
  color: #f2f2f2;
}

a,
button {
  color: inherit;
  text-decoration: none;
  background: transparent;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  box-sizing: border-box;
  //word-break: break-all;
  font-family: "Inter", sans-serif !important;
}



.PrivateDatePickerToolbar-penIcon {
  display: none !important;
}

button {
  cursor: pointer;
}

.MuiCheckbox-root {
  color: #6d4eea;
}

.MuiCheckbox-root.Mui-checked {
  color: #6d4eea;
}

textarea {
  resize: none;
}

ul,
li {
  list-style: none;
}

.MuiPaper-root {
  .MuiPopover-paper {
    background: unset;
    color: #fff;
  }

  &.MuiAutocomplete-paper {
    background-color: #333333 !important;
  }
}

.MuiAutocomplete-option {
  color: #fff;
}

.MuiAutocomplete-noOptions {
  color: #fff;
}

.MuiSvgIcon-root {
  color: #fff;
}

.MuiCalendarPicker-root .MuiSvgIcon-root,
.PrivateDatePickerToolbar-penIcon .MuiSvgIcon-root {
  color: #6d4eea;
}

.MuiButtonBase-root {
  text-transform: inherit !important;
}

.MuiOutlinedInput-root {
  border-radius: 16px !important;
  grid-gap: 14px;
  color: #fff !important;
  min-height: 64px;
  box-sizing: border-box;

  &.HeaderLocalization {
    min-height: unset;
  }

  &:hover fieldset {
    border-color: #333 !important;
  }

  input {
    height: 100%;
    padding: 0 20px !important;
    box-sizing: border-box;
  }
}

input.MuiAutocomplete-input {
  padding: 0 !important;
}

.MuiOutlinedInput-input {
  padding: 0 !important;
}

.MuiSelect-outlined {
  padding: 0 20px !important;
}

.MuiTabs-indicator {
  width: 4px;
}

.MuiSelect-icon {
  color: #828282 !important;
}

span.Mui-checked {
  .MuiSvgIcon-root {
    color: #6d4eea !important;
  }
}

.MuiOutlinedInput-notchedOutline,
.Mui-disabled.MuiOutlinedInput-notchedOutline {
  border-width: 1.5px;
  border-style: solid;
  border-color: #333 !important;
}

.MuiOutlinedInput-input.MuiInputBase-input.Mui-disabled {
  color: #333;
  -webkit-text-fill-color: #a6a6a6;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: none;
  border-radius: 0 !important;
  color: unset;
  background-color: transparent !important;
  -webkit-box-shadow: 0 0 0 40px #1b1c22 inset !important;
  -webkit-text-fill-color: white !important;
}

.activeEDLink {
  border-bottom: 8px solid #6d4eea !important;
  border-radius: 8px 8px 0 0 !important;
}

.MuiInputLabel-root {
  color: unset;
}